@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}
.minorTeen {
  background-color: #ffadad; /* Rosa claro */
}

.teens {
  background-color: #ffd6a5; /* Melocotón */
}

.twenties {
  background-color: #fdffb6; /* Amarillo pálido */
}

.thirties {
  background-color: #caffbf; /* Verde menta */
}

.forties {
  background-color: #9bf6ff; /* Azul cielo */
}

.fifties {
  background-color: #a0c4ff; /* Azul claro */
}

.sixties {
  background-color: #bdb2ff; /* Lila */
}

.seventies {
  background-color: #ffc6ff; /* Rosa */
}

.eighties {
  background-color: #ffd6a5; /* Melocotón */
}

.nineties {
  background-color: #ffadad; /* Rosa claro */
}
