@import './base.css';

a,
.title {
  text-decoration: none;
  color: #2e86ab;
  transition: 0.4s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}
.minorTeen {
  background-color: #ffadad;
}

.teens {
  background-color: #ffd6a5;
}

.twenties {
  background-color: #fdffb6;
}

.thirties {
  background-color: #caffbf;
}

.forties {
  background-color: #9bf6ff;
}

.fifties {
  background-color: #a0c4ff;
}

.sixties {
  background-color: #bdb2ff;
}

.seventies {
  background-color: #ffc6ff;
}

.eighties {
  background-color: #ffd6a5;
}

.nineties {
  background-color: #9b7f7f;
}

.button {
  width: auto;
  max-width: 200px;
  height: 30px;
  border-radius: 15px;
}
:hover.button {
  background-color: rgb(234, 222, 244);
}

input {
  padding: 8px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}

/* Estilos cuando el input está enfocado */
input :focus {
  outline: none; /* Quita el contorno al enfocar */
  border-color: #2e86ab; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px #2e86ab; /* Agrega una sombra al enfocar */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
